.favorite{
  display : none ;
}

hr {
  margin:auto ;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px ;
}
.or{
  font-size : 30px;
  font-weight:100;
  
}
.type{
  font-weight : 100;
  font-size : 15px
}

