.cc3s{
		-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 30px 10px 50px 10px;
	-webkit-box-shadow: 3px 3px 10px 3px #262422;
	box-shadow: 3px 3px 10px 3px #262422;
	background-color: rgba(209, 211, 206, 0.8) !important;
	font-size: 20px;
	font-weight: 40;
	margin-top:40px;
	margin-bottom: 40px;
	margin-left:auto;
	margin-right: auto;
	width:80%;
	border:20px;
	padding: 50px;
	padding-left: 20px;
	min-height: 45px;
	word-break: break-all;
	color: #595A55;
}


#profile{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
	position: relative;
}
#cc{
	width:80%;
	height: 100px;
	margin-left: 120px;
	margin-bottom: 40px;
	color:black !important;

}
#profile>button{
	margin-left: 40px;
	margin-bottom: 40px;
	margin-top: -130px;
}
#time,#place,#like,#price{
	font-size: 15px;
	margin:15px;
	position: relative;
	left:10%;
}
.footer-container{
	font-family: Yu Gothic,SimHei,Meiryo,"微軟正黑體";
	width:100%;
	margin-top: 40px;
	padding-top: 6px;
	background-color: rgba(81,81,81,0.5);
}
#footer-bottom{
	width:800px;
	margin-left: auto;
	margin-right: auto;

}
#footer-bottom h2{
	font-size: 15px;
	margin-bottom: 12px;
	color:#CCC;
	text-shadow: 0 1px #1f1f1f;
}
#footer-bottom p{
	font-size: 15px;
	color:#CCC;
	line-height: 20px;
	margin-bottom: 0px;

}

.self-pic>img{
		-webkit-border-radius: 40px 40px 40px 40px;
	-webkit-box-shadow: 5px 4px 10px 3px #C9C7C3;
	box-shadow: 5px 4px 10px 3px #C9C7C3;
	border-radius: 40px 40px 40px 40px;
}

#preview1{
	max-height:34px ;
}

.real-pic>img{
	max-height: 500px;

}
.real-pic{
text-align: center;
}

.modal-content{
	/*background-image: url("../binding_dark.png"); */
	background-color: rgba(240,240,220,0.8);
	overflow:hidden;
	color:#000;
	
}
.container-fluid{
	max-width: 90%;
	position: relative;
}
.carousel {
  height: 480px;
  margin-bottom: 40px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px;
}

.carousel .item {
  height: 480px;
  background-color: rgba(51,51,100,0.5);
  color:#FFF;

}
.carousel-caption{
	top:90%;
	z-index: 3;
}
.navbar-brand{
	z-index: 5 !important;
}
img.logo{
	width:120px;
    height:22px;
	z-index: 0;
}

nav{
	position: fixed;
	padding-top:10px;
	margin-bottom: 0px;
	z-index: 2;
	font-size: 150%;
	font-family: Yu Gothic,SimHei,Meiryo,"微軟正黑體";
}
ul.dropdown-menu{
	background-color:rgba(187,212,209,0.8);
	font-size: 110%;
}
ul.dropdown-menu>li>a{
	color:black;
	padding-top: 10px;
	padding-bottom: 10px;
}
body{
	color: #FFF;
	background-color: rgb(187,212,209);
	font-family:Malgun Gothic,Dotum,Yu Gothic,"微軟正黑體",Microsoft YaHei, Monaco, DFKai-sb, sans-serif;
	font-weight: 100;
}

.dropdown-toggle{
	font-size: 80%;
}

.login{
	size: 60%;
}

.ow-carousel{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.owl-carousel .item{


  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.owl-carousel .item>img{
	margin-left: auto;
	margin-right: auto;
	max-height:200px;
	max-width: 200px;
}
.owl-carousel .item>h4{
	font-size: 150%;
	font-weight: 800;
  
}
.owl-carousel .item>p{
	font-size:95%;
	color: #FFF;
}


.topic{
	margin-top: 6%;
    color:#000000;
	font-size: 2em;
}

.prev{
	left:-50px;
	top:30%;
	position: absolute;
	z-index: 4;
}
.next{
	right:-50px;
	position: absolute;
	top:30%;
	z-index: 4;
}
#myModal .modal-dialog  
{
	width:80%;
}

.containt .item{
	word-wrap: break-word; 
	width:350px; 
   display: inline-block;
  margin:10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 30px;
}
.containt .item>img{
	margin-left: auto;
	margin-right: auto;
	max-height:200px;
	max-width: 200px;
}
.containt .item>h4{
	font-size: 130%;
	font-weight: 200;
	color:rgb(51,51,93);
  
}
.containt .item>p{
	font-size:95%;
	color:rgb(116,116,110) ;
}


#intro{
		margin-top: 30px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(116,116,110,0.9);
	color: #FFF;
	border-radius: 10px 20px 30px 40px;
	padding:30px;
}
.tablist{
	left:10%;
	position: relative;
}

.btn.outline {
    background: none;
    padding: 6px 10px;
}
.btn-default.outline {
    
    color: rgba(51,51,100,0.5);
    border-color: rgba(51,51,100,0.5);
}
.btn-default.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    border: 2px solid rgba(51,51,100,0.5);
    color: rgb(51,51,100);
}
.btn-default.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #CCC;
    box-shadow: none;
}