.footer-container{
	width:100%;
	margin-top: 40px;
	padding-top: 6px;
	background-color: rgba(81,81,81,0.5);
	position: relative;

}
#footer-bottom{
	width:800px;
	margin-left: auto;
	margin-right: auto;

}
#footer-bottom h2{
	font-size: 16px;
	margin-bottom: 12px;
	color:#FFF;
	text-shadow: 0 1px #1f1f1f;
}
#footer-bottom p{
	font-size: 12px;
	color:#CCC;
	line-height: 20px;
	margin-bottom: 0px;

}
.self-pic>img{
	-webkit-border-radius: 40px 40px 40px 40px;
	-webkit-box-shadow: 5px 4px 10px 3px #C9C7C3;
	box-shadow: 5px 4px 10px 3px #C9C7C3;
	border-radius: 40px 40px 40px 40px;
}

#preview1{
	max-height:34px ;
}

#intro{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #454840;
	border-radius: 10px 20px 30px 40px;
	padding:30px;
}

.nameinput{
	text-align: left !important;
}
.searchbar *{
  max-width:20%; 
  float:left;
  margin:18px;
  text-align: center;

}


.carousel {
  height: 480px;
  margin-bottom: 60px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 450px;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-caption{
	top:90%;
	z-index: 3;
}
.real-pic>img{
	max-height: 500px;

}
.real-pic{
text-align: center;
}

.modal-content{
	background-image: url("../binding_dark.png");
	overflow:hidden;
	
}
.container-fluid{
	max-width: 80%;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
img.logo{
	width:150px;
    height:30px;
	z-index: 0;
}

nav{
	position: fixed;
	height:0%;
	margin-bottom: 0px;
	z-index: 2;
	font-size: 140%;
}
ul.dropdown-menu{
	font-size: 110%;
}
ul.dropdown-menu>li>a{
	color:black;
	padding-top: 10px;
	padding-bottom: 10px;
}
body{
	background-image: url("../background.png");
	color:#E7E6E6;
	font-family:"微軟正黑體",Microsoft YaHei, Monaco, DFKai-sb, sans-serif;
}

.dropdown-toggle{
	font-size: 80%;
}

.login{
	size: 60%;
}
.topic{
	margin-top: 6%;
	text-align: center;
    color:#000000;
	font-size: 2em;
}
#myModal .modal-dialog  
{
	width:80%;
}
.containt{
	min-height: 250px;
}

.containt .item{
	word-wrap: break-word; 
	width:350px; 
   display: inline-block;
  color: #FFF;
  margin:10px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.containt .item>img{
	margin-left: auto;
	margin-right: auto;
	max-height:200px;
	max-width: 200px;
}
.containt .item>h4{
	font-size: 150%;
	font-weight: 800;
  
}
.containt .item>p{
	font-size:95%;
	color: #FFF;
}

