img.logo{
	width:100%;
    height:50;
	z-index: 0;
}

nav{
	position: fixed;
	height:0%;
	margin-bottom: 0px;
	z-index: 2;
	font-size: 140%;
}
ul.dropdown-menu{
	background: #FFE880;
	font-size: 110%;
}
ul.dropdown-menu>li>a{
	color:white;
	padding-top: 10px;
	padding-bottom: 10px;
}
body{
	background-image: url("footer_lodyas.png");
	color:#995C99;
	font-family:"微軟正黑體",Microsoft YaHei, Monaco, DFKai-sb, sans-serif;
}
.ex{
	display: block;
	margin-top: 10%;
	margin-bottom: 10%;
	color:#000000;
}
.ex>img{
	margin-left: 0%;
	height:200px;
}
.ex>h4{
	font-size: 150%;
	font-weight: 900;
  
}


.topic{
	margin-top: 6%;
	text-align: center;
    color:#FFC20F;
	font-size: 2em;
}

